$app-center: center;

.app {
  text-align: $app-center;

  &__header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: $app-center;
    justify-content: $app-center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__menu {
    background: #e3dede;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 12px;
  }
}